.App {
  text-align: center;
}

aboutContent{
font-size: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.obama{
  font-size: 30px;
}

#aboutContent{
  font-size: 20px;
  color: red;
  border-style:solid;
  border-color: coral 15px;
  background-color: yellow;
}

#contactContent{
  font-size: 20px;
  color: red;
  border-style:solid;
  border-color: coral 15px;
  background-color: yellow;
}

#projectContent{
  font-size: 20px;
  color: red;
  border-style:solid;
  border-color: coral 15px;
  background-color: yellow;
}

.navbar{
  background-color: green;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

#navChild{
  padding-right: 15px;
  padding-bottom: 0px;
}

#contactChild{
  padding-right: 15px;
  padding-bottom: 0px;
}